body{
    height: 100%;
    background-color: white;
}

main.centralizado form{ 
    margin-top: 50px;
    margin-bottom: 260px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center; 
}

main form .doe{
    grid-column-start: 1;
    grid-column-end: 6;
}

main form .dados{
    grid-column-start: 2;
    grid-column-end: 5;
}

main form .dados-doador{
    grid-column-start: 1;
    grid-column-end: 3;
}

main form .dados-livro{
    grid-column-start: 4;
    grid-column-end: 6;
}

main form p {
    grid-column-start: 1;
    grid-column-end: 3;
}

main.centralizado fieldset{
    border: none;
    color: #848484;
    border-top: 5px solid #A4A4A4;
    font-size: 25px;
    font-weight: 800;
    margin: 10px; 
}

main.centralizado div{
    margin: 15px ;
    color:#848484;
}

main.centralizado div div{
   text-transform: uppercase;
   display: flex;
   font: 800 20px Secular One;
   justify-content: flex-start;
   margin-bottom: 20px;
}

main.centralizado div div label{
    margin-right: 15px;
}

main.centralizado div div input{
    border: 1px solid var(--gradiente-black-claro);
    padding: 5px;
    flex-grow:1;
}

main.centralizado .dados-livro{
    display: flex;
    flex-direction: column;
}

main.centralizado .dados-livro button{
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    color: var(--branco-escuro);
    background-color: var(--gradiente-black-claro);
    border: 1px solid var(--gradiente-black-escuro);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    align-self: flex-end;

    transition: 0.8s;
    position: relative;
    overflow: hidden;
}


main.centralizado .dados-livro button:hover{  
    background: var(--vermelho-fatec);   
}
